{% extends 'layout_backoffice.html.twig' %}

{% block content %}
    <h1>Editer le scooter : {{scooter.name}} {{ scooter.model }} {{ scooter.color }} {{ scooter.cylinder }}cm³ {{ scooter.engine}}t </h1>
    {% include 'Scooter/_form.html.twig' %}
    <a href="/scooter/index">Back</a>
{% endblock %}
